<div class="game-card" (click)="openDetailDialog()">
	@if (inLibrary()) {
		<span class="game-card__library-badge">In Library</span>
	}
	<div class="game-card__header">
		<span class="game-card__title">{{ game().title }}</span>
		@if (game().releaseYear) {
			<span class="game-card__year">({{ game().releaseYear }})</span>
		}
		<span class="spacer"></span>
		<app-game-kebab-menu
			[gameId]="game().id"
			[inLibrary]="inLibrary()"
			[isOwner]="isOwner()"
			[libEntry]="libEntry()"
			(libraryChanged)="libraryChanged.emit()"
			(catalogDeletionHappened) = "onCatalogDeletionHappened()"
		/>
	</div>
	@if (game().description) {
		<p class="game-card__description">{{ game().description }}</p>
	}
</div>
