<div class="game-card" (click)="openDetailDialog()">
	@if (inLibrary()) {
		<span class="game-card__library-badge">In Library</span>
	}
	<div class="game-card__header">
		<span class="game-card__title">{{ game().title }}</span>
		@if (game().releaseYear) {
			<span class="game-card__year">({{ game().releaseYear }})</span>
		}
		<span class="spacer"></span>
		<button mat-icon-button [matMenuTriggerFor]="kebabMenu" (click)="$event.stopPropagation()">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #kebabMenu="matMenu">
			<button mat-menu-item (click)="openLibraryAddDialog()" [disabled]="inLibrary()">Add to library</button>
			<button mat-menu-item (click)="openLibraryEditDialog()" [disabled]="!inLibrary()">Edit library entry...</button>
<!--			<button mat-menu-item (click)="openLibraryDeleteDialog()" [disabled]="!inLibrary()">Remove from library</button>
			<button mat-menu-item (click)="openCatalogEditDialog()" [disabled]="!isOwner()">Edit entry...</button>
			<button mat-menu-item (click)="openCatalogDeleteDialog()" [disabled]="!isOwner()">Delete entry</button>
-->
		</mat-menu>
	</div>
	@if (game().description) {
		<p class="game-card__description">{{ game().description }}</p>
	}
</div>
