.game-card {
	background-color: #313131;
	cursor: pointer;
	border-radius: 6px;
	height: 5.5rem;
	padding: 0.8rem 0.5rem 0 1.25rem;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.game-card__header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.game-card__title {
	font-size: 1rem;
	font-weight: 500;
}

.game-card__year {
	font-size: 0.9rem;
	color: #aaaaaa;
}

.spacer {
	flex: 1;
}

.game-card__library-badge {
	position: absolute;
	top: 0.4rem;
	left: 1.25rem;
	font-size: 0.65rem;
	font-style: italic;
	color: #aaaaaa;
}

.game-card__description {
	margin: 0;
	font-size: 0.85rem;
	color: #aaaaaa;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 2.5rem;
}
