<p>Games list (placeholder)</p>
@if (userinfo() === undefined) {
	<p>Hello, user...<p>
} @else if (userinfo()!.hasOwnProperty('username')) {
	<p>Hello, {{ userinfo()!.username }}</p>
} @else {
	<p>Failed to load user</p>
}
<ul class="games-list">
	<li><app-game-new-entry (gameAdded)="refreshGames()" /></li>
	@if (games() === undefined) {
		<li>Loading games...</li>
	} @else if (isGamesEmpty()) {
		<li>No games exist on this website!</li>
	} @else {
		@for (gamesElement of games()!; track gamesElement.id) {
			<li><app-game-entry [game]="gamesElement" /></li>
		}
	}
</ul>
